.card { /* работаем над карточкой товара */
  border: 1px solid #947f8d; /* задаем толщину и цвет линии,которая будет выделять карточку, граница */
  width: 210px; /* задаем ширину границы */
  margin-left: 35px; /* делаем отступ самой карты от левого края 35 */
  margin-top: 32px; /* делаем отступ от слова Новинки и самой карты 32 */
  background-color: #ffffff; /* задаем фон заливки границы */
  border-radius: 8px; /* закругляем углы границы */
  height: 320px;

.plus {
  cursor: pointer;
}

.favourite {
  position: absolute;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 6px;
}

p {
  font-size: 11px regular;
}

.cardBottom { /* работаем над информацией цена, 2000 руб. и кнопкой плюс ЭТО РОДИТЕЛЬ */
  display: flex; /* сделали элемент флекс-контейнером */
  justify-content: space-between; /* выравнивание элементов, задали выравнивание элементов вдоль главной оси; первый элемент прижат к началу оси, последний к концу */
  align-items: center; /* выравнивание элементов внутри контейнера по пореченой оси, по центру */
}
.info-cost-price { /* работаем над информацией цена, 2000 руб. */
  display: flex; /* сделали элемент флекс-контейнером */
  flex-direction: column; /* опрделеяем направление элементов в контейнере. в данном случае элементы располагаются в столбец сверху-вниз */
  text-align: left; /* делаем выравнивание по левому краю */
  padding-top: 5px; /* делаем внутреннее отступление от информаци цена до текста пряников */

b { /* работаем над стилем 2000 руб. */
  padding-top: 2px; /* задали внутренний отступ между словом Цена и 2000 руб. */
  font-size: 12px bold; /* задали размер текста и толщину */
}
span { /* работаем над стилем ЦЕНА. */
  font-size: 9px medium; /* задали размер текста 9 и жирность среднюю */
  color: #B1A9A9; /* задали цвет текста */
}
}
}
