header { /* преобразуем заголовок */
  display: flex; /* сделали элемнт флекс-контейнером */
  justify-content: space-between; /* выравнивание элементов, задали выравнивание элементов вдоль главной оси; первый элемент прижат к началу оси, последний к концу */
  padding: 40px;
  border-bottom: 1px solid #EBD8D8;

.headerLeft { /* где логотип, название интернет-магазина и текст */
  display: flex; /* сделали элемент флекс-контейнером */
  align-items: center; /* выравнивание элементов внутри контейнера по пореченой оси, по центру */

h3, p {
  margin: 0; /* убираем отступ между названием интернет-магазина и текстом */
  text-align: left; /* горизонтальное выравнивание текста по левому краю */
}
h3 {
  font-size: 20px; /* задали тексту размер 20 */
}
p {
  font-size: 14px; /* задали тексту размер 14 */
  color: #9D9D9D;
}
img {
  margin-right: 15px; /* делаем от картинки отступ от текста */
  filter: drop-shadow(0 2px 3px #000000); /* задали размытие логотипа. по оси x-0, по оси y-2, размытие-3 и цвет черный */
  }
    }

.headetRight { /* делаем правую часть заголовка, где избранное, корзина и профиль */
  display: flex; /* сделали элемент флекс-контейнером */
}
ul { 
  list-style-type: none; /* данный стиль преобразует маркер, убираем его с помощью none */
  
li { /* иконки и текст */
  margin-right: 30px; /* делаем отступ между значками */
}
img {
  margin-right: 8px; /* делаем отступ между значком и наименованием, пример картинка корзинки и сумой в корзине */
  vertical-align: middle; /* выровняли элементы по вертикале. картинки выровняли с текстом */
  cursor: pointer;
}
span {
  font-size: 14px; /* задали тексту где иконки размер 14 */
}
}
}