body {
  margin: 0;
  font-family: 'Inter', system-ui;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* { /* делаем у каждого элемента шрифт Интер */
  font-family: 'Inter', system-ui;;
}
.wrapper {
  background: #F0F0F0; /* основной цвет фона страницы */
  box-shadow: rgba(240, 240, 240, 0.5); /* основной цвет страницы с товарами */
  border-radius: 10px; /* закругление углов страницы с товарами */
  max-width: 1400px; /* максимальная ширина */
  margin: 0px auto; /* отступление от самой страницы интернета белого фона */
  height: 1500px;
}

.content { /* работаем над основным содержанием страницы */

h1 {
  margin: 0; /* убираем отступ у Новинки */
  font-size: 32px; /* задали размер шрифта 32 */
  padding-left: 59px; /* делаем внутренний отступ слева 59 */
}
.search-block { /* работаем над самой поисковой строкой */
  display: flex; /* сделали элемент флекс-контейнером */
  padding-right: 59px; /* делаем правый внутренний отступ 59 */
}
.content-info { /* работаем над частью где Новинки и поисковая строка */
  display: flex; /* сделали элемент флекс-контейнером */
  align-items: center; /* выравнивание элементов внутри контейнера по пореченой оси, по центру */
  justify-content: space-between; /* выравнивание элементов, задали выравнивание элементов вдоль главной оси; первый элемент прижат к началу оси, последний к концу */
  padding-top: 58px; /* делаем верхний внутренний отступ у блока от фона */
  padding-bottom: 34px; /* делаем нижний внтурненний отступ от блока до карточек */
}
input {
  border: 1px solid #D0D0D0; /* задаем поисковой строке цвет границы и толщину */
  padding: 13px; /* делаем внутренний отступ 13 */
  font-size: 16px; /* задаем размер шрифта 16 */
  border-radius: 10px; /* закругляем углы в поисковому блоку */
  width: 250px;
}
}
.product {
  display: flex; /* сделали элемент флекс-контейнером */
  flex-wrap: wrap;
}




